#contact {
    padding: 30px;
    background:#10100e;
    text-align:center;
    padding-bottom: 0px;
}

#options {
    padding: 30px;
    background:#3d82cd;
    text-align:center;
}

#contact h1, #options h1 {
    color: #3d82cd;
    font-size: 54px;
    margin-bottom: 25px;
}

#contact h3, #options h3 {
    font-family: 'Julius Sans One', sans-serif;
    color: #fff;
    text-transform: none;
    font-size: 20px;
    margin-bottom:10px;
}

#contact h5, #options h5 {
    font-size: 16px;
    text-transform: none;
    font-family: 'Julius Sans One', sans-serif;
    color: #fde38c;
}

#contact p, #options p {
    color: #000;
    font-size: 18px;
}


.opening {
    text-align:left;
}

hr {
    display:block;
    width:50%;
    position:relative;
    border-color: #000;
}

.mailing {
    margin-bottom: 30px;
    margin-top:0px;
}

.mailing a {
    color:#000;
}

.mailing a:hover {
    color: #fde38c;
}

.mailing p {
    color: #000;
    font-size: 24px;
}


.mail {
    background-color: #fff;
    position:relative;
    padding: 5px;
    margin-bottom:15px;
}

.mail h4 {
    margin: 0 auto;
    text-transform: none;
    font-family: 'Raleway', sans-serif;

    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    color: #3d82cd;
}

.mail:hover {
    -webkit-box-shadow: 0px 1px 3px 0px rgb(250, 250, 250);
    -moz-box-shadow: 0px 1px 3px 0px rgb(250, 250, 250);
    box-shadow: 0px 1px 3px 0px rgb(250, 250, 250);
}

.mail:hover a {
    color: #3d82cd;
}

.methods {
    padding: 10px;
    margin-bottom: 30px;
}

.methods a {
    color: #3d82cd;
}

.methods a:hover {
    color: #fde38c;
}

.method {
    background-color: #fff;
    position:relative;
    padding: 5px;
    margin-bottom:15px;
}

.method h4 {
    margin: 0 auto;
    text-transform: none;
    font-family: 'Raleway', sans-serif;

    font-weight: 700;
    letter-spacing: 1px;
    color: #3d82cd;
}

.method:hover {
    -webkit-box-shadow: 0px 1px 3px 0px rgb(253, 227, 140);
    -moz-box-shadow: 0px 1px 3px 0px rgb(253, 227, 140);
    box-shadow: 0px 1px 3px 0px rgb(253, 227, 140);
}

.method:hover a {
    color: #152d93;
}

@media (max-width: 991px) {

    #contact p, #options p {
	font-size: 14px;
    }
    
    .opening {
	text-align: left;
    }

    .mailing {
	margin-top:40px;
    }
}

@media (max-width: 767px) {
    #contact p, #options p {
	font-size: 18px;
    }
}


@media (max-width: 400px) {
    #options p {
	font-size: 14px;
    }
    #contact p {
	font-size: 18px;
    }
}
