body {
    background-image:  url('Images/bg.png');
    background-size: cover;
    padding: 0;
    overflow-y: scroll;
}

.page-header {
    margin-top: 0;
    padding-top: 0px;
    padding-bottom:0px;
    text-align:left;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    background-color: #233237; 
    border-bottom: 1px solid white;
}

.page-header h1 {
    margin-top: 15px;
}

.page-header a {
    text-decoration: none;
    color: white;
}

.navbar-toggle { 
    margin-top: 15px;
}

.btn {
    font-size: 18px;
    display: inline-block;
    padding: 15px 30px;
    color: white;
    border: 2px solid transparent;
    border-radius: 2px;
    background: transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media only screen and (max-width: 500px) {

    .page-header h1 {
	margin-top: 10px;
    }
    .page-header a {
	text-decoration: none;
	font-size: 30px;
    }

}

@media only screen and (max-width: 420px) {

    .page-header h1 {
	margin-top: 10px;
    }
    .page-header a {
	text-decoration: none;
	font-size: 25px;
    }

}