.contact {
    color: white;
}

.filler {
    height: 100%;
}

.opening {
  display: table;
  width: 100%;
  height: auto;
  padding: 40px 0;
  text-align: center;
  color: white;
  background: url(../Images/general/Background.jpg) no-repeat bottom center scroll;
  /* background-color: #727679; */
  background-color: #010101;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.opening .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.img-responsive {
    margin: 0 auto;
}

.opening .intro-body .brand-heading {
  font-size: 60px;
  color: #fde38c;
}

.opening .intro-body .intro-text {
  font-size: 20px;
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
}

.content {
    background-color: black;
}

.content .well {
    background-color: black;
}

.projects-section {
  width: 100%;
  padding: 50px 0;
  background-color: #fafafa;
}

/** Css for Tiles with animation **/

.tiles {
    position: relative;
}

.spacer {
    height: 80px;
}

.responsive-hide {
    display:block;
}


/* Media Queries for Navbar */ 

/* phones */
@media (max-width: 767px) { 
    .responsive-hide {
	display:block;
    }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .responsive-hide {
	display:none;
    }

    .opening .intro-body .brand-heading {
	font-size: 100px;
    }

    .opening .intro-body .intro-text {
	font-size: 26px;
    }
}



/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .responsive-hide {
	display:block;
    }
}



/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .responsive-hide {
	display:block;
    }
}




